<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>NASA</key>
		<dict>
			<key>Definition</key>
			<string>The National Aeronautics and Space Administration (NASA, /ˈnæsə/) is an independent agency of the United States Federal Government responsible for the civilian space program, as well as aeronautics and aerospace research.</string>
		</dict>
		<key>Mars</key>
		<dict>
			<key>Definition</key>
			<string>Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System after Mercury. </string>
		</dict>
		<key>Spirit</key>
		<dict>
			<key>Definition</key>
			<string>Spirit, also known as MER-A (Mars Exploration Rover – A) or MER-2, is a robotic rover on Mars, active from 2004 to 2010. Its the twin brother of Opportunity</string>
		</dict>
		<key>Opportunity</key>
		<dict>
			<key>Definition</key>
			<string>Opportunity, also known as MER-B (Mars Exploration Rover – B) or MER-1, and nicknamed &quot;Oppy&quot;, is a robotic rover that was active on Mars send by NASA</string>
		</dict>
		<key>EagleCrater</key>
		<dict>
			<key>Definition</key>
			<string>Eagle is a 22-metre long impact crater located on the Meridiani Planum extraterrestrial plain, situated within the Margaritifer Sinus quadrangle (MC-19) portion of the planet Mars. The Opportunity rover came to rest inside Eagle crater when it landed in 2004.</string>
		</dict>
		<key>Curiosity</key>
		<dict>
			<key>Definition</key>
			<string>Curiosity is a car-sized rover designed to explore the crater Gale on Mars as part of NASA&apos;s Mars Science Laboratory mission (MSL).</string>
		</dict>
	</dict>
</dict>
</plist>
